body {
    font-family: sans-serif;
    color: #ffffff;
    background: #010e0e;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header ul {
    display: flex;
    gap: 16px;
}
